*.pyc
*.gz
*.bin
*.prof
*.txt
*.json
*.swp

.ipynb_checkpoints
*/.ipynb_checkpoints/*
**/*.ipynb_checkpoints/

module2/.DS_Store
.DS_Store
module2/BiGram/.ipynb_checkpoints/
module2/*/.ipynb_checkpoints/
module2/BiGram/bigram_wiki_chk_pts/*
